@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:ital,wght@1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.header{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 80px;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.445), rgba(0, 0, 0, 0.521)),url('./back.jpg');
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}


.header .icon h1 {
    font-size: 32px;
    color: rgb(220 40 39);
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
 
}
.icon {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.icon img{
    height: 100px;
    width: 100px;
    opacity: 0.9;
    box-shadow: 3px 2px 10px 4px #00000060 ;
}

.menu{
    margin-top: 10px;
    padding: 22px;
    background: linear-gradient(to right, rgba(51,51,51,0.6), rgba(221,24,24,0.6));
    border-radius: 10px;
    box-shadow: 1px 1px 10px  rgba(0, 0, 0, 0.397);
    position: fixed;
}
.menu ul{
    display: flex;
    gap: 40px;
}

.menu ul a  {
    text-decoration: none;
    color: whitesmoke;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.63);
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
}

.text img {
    width: 250px;
    height: 350px;

}

.text {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}

.text-h1{
    margin-top: 40px;
    text-align: center;
    color: #ffffffc7;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.63);
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
}

.text-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-icon h1{
    font-family: 'Poppins', sans-serif;
    color: rgb(220 40 39);
    text-shadow: 2px 2px rgba(0, 0, 0, 0.404);
}
/*CONCEITOS*/

.concepts-wrapper {
    padding: 20px;
    background: linear-gradient(to right, #ffefba, #ffffff)

}

.concepts-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}


.concepts-title{
    text-align: center;
    padding: 40px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 23px;
    color: rgb(220 40 39);

}
.concepts-title p {
    margin-top: 20px;
    color: black;
    font-size: 26px;
}

.concepts-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 250px;
    min-height: 300px;
    max-height: 300px;
    padding: 20px;
    background: rgb(255 255 255 / 23%);
    border-radius: 14px;
    box-shadow: 3px 3px 10px black;
}

.vision {
    width: 300px;
    max-height: 400px;
}

.concepts-card-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    color: rgb(220 40 39);
    font-weight: 600;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 23px;
    
}



.concepts-card p{
    color: rgb(0 0 0);
    text-shadow: 2px 2px 2px rgb(255 255 255 / 63%);
    text-align: justify;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;

}
.concepts-card-icons img {
    width: 50px;
    height: 50px;
}
.concepts-filial-text{
    display: flex;
    align-items: center;
    justify-content: center;

}

.concepts-filial-text p{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 40ch;

}

.concepts-filial-list ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    

}

.concepts-filial-title {
    margin-top: 60px;
}
.concepts-filial-title h1 {
    text-align: center;
}

.concepts-filial-list i {
    color: rgb(220 40 39);
    padding: 10px;
}

.concepts-filial {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    margin-top: 50px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    
}

/*ABOUT*/

.about {
    background: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-wrapper {
    padding: 40px;
}

.about-title h1{
    text-align: center;
    padding-bottom: 40px;
    font-size: 40px;
    color: rgb(220 40 39);
    font-family: 'Poppins', sans-serif;
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.about-img img {
    width: 500px;
    height: 450px;
}


.about-text p {
    color: #000000c7;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    max-width: 50ch;
}  


/*LOCALTION*/

.location {
    height: 400px;
    width: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.445), rgba(255, 255, 255, 0.521)),url('./road-gbbc0be8aa_1280.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: rgb(220 40 39);
    font-family: 'Poppins', sans-serif;
}
